/FDC2214/Template.uvguix.yuyin_zhang
/FDC2214/DebugConfig
/FDC2214/Obj
/FDC2214/EventRecorderStub.scvd
/FDC2214/JLinkLog.txt
/FDC2214/JLinkSettings.ini
/FDC2214_new/USER/startup_stm32f10x_hd.lst
/FDC2214_new/USER/LCD.map
/FDC2214_new/USER/DebugConfig
/FDC2214_new/USER/FDC2214.uvguix.yuyin_zhang
/FDC2214_new/USER/OBJ
/FDC2214/User/DebugConfig
/FDC2214/User/Obj
/FDC2214/User/gesture.map
/FDC2214/User/gesture.uvguix.yuyin_zhang
/FDC2214/User/JLinkLog.txt
/FDC2214/User/keilkilll.bat
/FDC2214/User/startup_stm32f10x_hd.lst
